@import "variables";

.vertical-middle
{
  vertical-align: middle;
}

.ng-valid[required]
{
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid
{
  border-left: 5px solid #a94442; /* red */
}

body
{
  background-color: lighten($primary-bg-color, 20);
}

.my-panel-header
{
  font-size: 1.2em;
}
