.vertical-middle
{
  vertical-align: middle;
}

.standard-bottom-offset
{
  margin-bottom: 0.5em;
}

.standard-top-offset
{
  margin-top: 0.5em;
}

.standard-offset
{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/*override Bootstrap panel style*/
.panel-body
{
  padding: 0.5em;
}

.panel-heading
{
  padding: 0.1em 0.5em;
}


