<svg:g xmlns:svg="http://www.w3.org/1999/XSL/Transform">
  <svg:text class="nodeHeader svgNonInteractive" text-anchor="middle"
            [attr.y]="layout.rect.y - layout.nodeNameOffset"
            [attr.x]="layout.rect.x + layout.rect.width/2">{{layout.name}}
  </svg:text>
  <svg:rect class="node" [class.svgNonInteractive]="!(viewState&&viewState.nodeIsSelectable)" ry="5"
            (click)="nodeClick.emit(layout.id)"
            [attr.width]="layout.rect.width"
            [attr.height]="layout.rect.height"
            [attr.x]="layout.rect.x"
            [attr.y]="layout.rect.y">
  </svg:rect>

  <svg:g *ngFor="let portLayout of layout.portLayouts">
    <svg:text class="svgNonInteractive"
              [attr.y]="portLayout.rect.y - layout.portNameOffset"
              [attr.x]="portLayout.rect.x">
      <svg:tspan class="portName">{{portLayout.port.name}}</svg:tspan>
      <!--<svg:tspan class="portType">{{portLayout.port.dataType.name}}</svg:tspan>-->
    </svg:text>
    <svg:rect class="port selected" ry="2"
          (click)="portClick.emit(portLayout.port)"
          [class.selected]="viewState && (portLayout.port == viewState.selectedObject)"
          [attr.width]="portLayout.rect.width"
          [attr.height]="portLayout.rect.height"
          [attr.x]="portLayout.rect.x"
          [attr.y]="portLayout.rect.y">
    </svg:rect>
  </svg:g>
</svg:g>
