<div class="card card-block">
  <div class="">
    <span class="my-panel-header">{{activeWorkspaceName}}</span>
    <toolbar *ngIf="scene.activeWorkspace" [toolbar]="scene.activeWorkspace.toolbar" [toolbarSize]="'sm'" ></toolbar>
  </div>
  <div class="">
    <context-toolbar></context-toolbar>
    <svg xlink="http://www.w3.org/1999/xlink" height="500" width="600" class='img-fluid svg'>
      <g *ngIf="isNode">
        <g node-workspace [nodeWorkspace]="nodeWorkspace"/>
      </g>
      <g *ngIf="isFlow">
        <g flow-workspace [flowWorkspace]="flowWorkspace"/>
      </g>
    </svg>
  </div>
</div>

