@import "../../sass/variables";

.nodeList
{
  list-style-type: none;
  padding-left: 0em;
}

.nodeList li
{
  cursor: pointer;
  margin-left: 0;
  border-radius: 0.2em;
}

.nodeList li:hover
{
  padding-left: 0.05em;
  color: get-text-color($assets-background-hover);
  background-color: $assets-background-hover;
}

.nodeList li.selected
{
  color: get-text-color($assets-background-selected);
  background-color: $assets-background-selected;
}

.nodeList li.selected:hover
{
  color: get-text-color($assets-background-hover-selected);
  padding-left: 0.05em;
  background-color: $assets-background-hover-selected;
}

.node-marker
{
  color: $assets-node-marker;
}

.flow-marker
{
  color: $assets-flow-marker;
}

.type-marker
{
  margin-left: 1em;
  font-size: 0.6em;
  margin-right: 0.2em;
}
