<div class="card">
  <div class="card-block">
    <span class="my-panel-header">Nodes</span>
    <button role="button" type="button" class="btn btn-secondary btn-sm" (click)="requestNewNode()">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      Add
    </button>
    <ul class="nodeList">
      <li *ngFor="let workspace of scene.getNodeWorkspaces()" [class.selected]="workspace === scene.activeWorkspace"
          (click)="activateWorkspace(workspace)">
        <span class="type-marker node-marker">&lt;N&gt;</span><span class="vertical-middle">{{workspace.name}}</span>
      </li>
    </ul>
  </div>

  <div class="card-block">
    <span class="my-panel-header">Flows</span>
    <button role="button" type="button" class="btn btn-secondary btn-sm" (click)="requestNewFlow()">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      Add
    </button>
    <ul class="nodeList">
      <li *ngFor="let workspace of scene.getFlowWorkspaces()" [class.selected]="workspace === scene.activeWorkspace"
          (click)="activateWorkspace(workspace)">
        <span class="type-marker flow-marker">&lt;F&gt;</span><span class="vertical-middle">{{workspace.name}}</span>
      </li>
    </ul>
  </div>
</div>