<div class="assets panel panel-default">
  <div class="panel-heading">Nodes</div>
  <div class="panel-body">
    <ul class="nodeList nav nav-pills btn-group-vertical">
      <li *ngFor="let workspace of scene.getWorkspaces()" class="btn btn-default btn-sm btn-block" [class.btn-danger]="workspace === scene.activeWorkspace" (click)="activateWorkspace(workspace)">
        {{workspace.name}}
      </li>
      <button type="button" class="btn btn-primary" (click)="requestNewNode()">+ Node</button>
    </ul>
  </div>
</div>