<form (ngSubmit)="onSubmit()" #nodeForm="ngForm">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Create Flow</h4>
  </div>

  <div class="modal-body">
    <div class="form-group input-group-sm">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="flowName" name="name" #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Name is required
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary btn-sm" [disabled]="!nodeForm.form.valid">
      <span class="fa fa-save" aria-hidden="true"></span>
      Save
    </button>
    <button (click)="onCancel()" class="btn btn-secondary btn-sm">Cancel</button>
  </div>
</form>
