<div [hidden]="!hasModel">
  <div *ngIf="hasModel">
    <h4>{{model.isEditMode? 'Edit Port' : 'Create Port'}}</h4>
    <form (ngSubmit)="onSubmit()" #nodeForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Name is required
        </div>
        <div class="form-inline" [hidden]="model.isEditMode">
          <div class="radio">
            <label><input  type="radio" name="isInput" [value]="true" [(ngModel)]="model.isInput">Input</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="isInput" [value]="false" [(ngModel)]="model.isInput">Output</label>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!nodeForm.form.valid">Save</button>
      <button (click)="onCancel()" class="btn btn-default">Cancel</button>
    </form>
  </div>
</div>