<form (ngSubmit)="onSubmit()" #portForm="ngForm">

  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{model.isEditMode? 'Edit Port' : 'Create Port'}}</h4>
  </div>

  <div class="modal-body">
    <div class="form-group input-group-sm">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name"
             #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Name is required
      </div>
      <div [hidden]="model.isEditMode">
        <div class="radio">
          <label><input type="radio" name="isInput" [value]="true" [(ngModel)]="model.isInput">Input</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="isInput" [value]="false" [(ngModel)]="model.isInput">Output</label>
        </div>
      </div>
      <label for="dataType">Data Type</label>
      <select class="form-control" id="dataType" [(ngModel)]="model.dataType" name="dataType" required>
        <option *ngFor="let dtype of dataTypes" [ngValue]="dtype">{{dtype.name}}</option>
      </select>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary btn-sm" [disabled]="!portForm.form.valid">
      <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
      Save
    </button>
    <button (click)="onCancel()" class="btn btn-secondary btn-sm">Cancel</button>
  </div>

</form>