<div class="assets panel panel-default">
  <div class="panel-heading">Log</div>
  <div class="panel-body">
    <div class="row">
      <div *ngFor="let entry of entries">
        <div ng-switch="entry.logLevel">
          <!--TODO use enum names-->
          <span class="label" 
          [class.label-warning]="entry.logLevel===1" 
          [class.label-danger]="entry.logLevel===2"
          [class.label-info]="entry.logLevel===0">-</span>
        </div>
        {{entry.text}}
      </div>
    </div>
  </div>
</div>